// variables
$form-background-color: #03203c;
$logo-color: #3a3a3a;
$sidebar-color: #075e54;
$text-color: #ddddf7;
$navbar-background: #128c7e;
$light-color: lightgray;
$message-color: #34b7f1;

// fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

// @mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// responsive settings
@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

// general settings
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

@import "./style/chat";
@import "./style/form";

// home page and its components

@import "./style/header";
@import "./style/article";
@import "./style/features";
@import "./style/numbers";
@import "./style/footer";
@import "./style/responsive";
