// variables
$form-background-color: #03203c;
$logo-color: #3a3a3a;
$sidebar-color: #075e54;
$text-color: #ddddf7;
$navbar-background: #128c7e;
$light-color: lightgray;
$message-color: #34b7f1;

// fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

// @mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// responsive settings
@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

// general settings
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

// Register/Login form
.formContainer {
  background-color: $form-background-color;
  height: 100vh;
  @include flex-center();

  .formWrapper {
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    @include flex-center();
    flex-direction: column;
    gap: 10px;

    .logo {
      color: $logo-color;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 2px;
    }

    .title {
      font-size: 16px;
      color: $logo-color;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        padding: 15px;
        border: none;
        width: 250px;
        border-bottom: 1px solid $form-background-color;
        font-size: 16px;
        font-weight: bold;
        background-color: transparent;

        &::placeholder {
          color: rgb(175, 175, 175);
        }
        &:focus {
          outline: none;
        }
      }

      .file-upload {
        display: none;
      }

      button {
        background-color: $logo-color;
        color: white;
        padding: 10px;
        font-weight: bold;
        border: none;
        cursor: pointer;
      }

      label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: $logo-color;
        font-size: 12px;
        cursor: pointer;

        img {
          width: 44px;
        }
      }
    }

    p {
      color: $form-background-color;
      font-size: 14px;
      font-weight: bold;
      margin-top: 10px;
      cursor: pointer;

      a {
        text-decoration: underline wavy;
        text-underline-offset: 10px;
        color: $form-background-color;
      }
    }
  }
}

// home page and its components

.home {
  background-color: $form-background-color;
  @include flex-center();
  height: 100vh;

  .container {
    // border: 1px solid white;
    // border-radius: 10px;
    width: 95%;
    height: 95%;
    display: flex;
    overflow: hidden;
    @include laptop {
      width: 65%;
      height: 80%;
    }

    // Sidebar component
    .sidebar {
      flex: 1;
      background-color: $sidebar-color;
      overflow-y: auto;
      overflow-x: hidden;

      .navbar {
        @include flex-center();
        justify-content: space-between;
        background-color: $navbar-background;
        height: 50px;
        padding: 10px;
        color: $text-color;

        .logo {
          font-weight: bold;
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            background-color: $text-color;
            height: 24px;
            width: 24px;
            border-radius: 50%;
            object-fit: cover;
          }

          button {
            background-color: $form-background-color;
            color: #f2f2f2;
            font-size: 12px;
            padding: 7px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
          }
        }
      }

      .search {
        border-bottom: 1px solid gray;

        .searchForm {
          padding: 10px;

          input {
            background-color: transparent;
            border: none;
            color: white;
            outline: none;
            font-size: 16px;

            &::placeholder {
              color: $light-color;
            }
          }
        }
      }

      .userChat {
        display: flex;
        align-items: center;
        padding: 10px;
        gap: 10px;
        cursor: pointer;
        color: white;

        &:hover {
          background-color: $navbar-background;
        }
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }

        .userChatInfo {
          span {
            font-size: 18px;
            font-weight: 500;
          }

          p {
            font-size: 14px;
            color: $light-color;
          }
        }
      }
    }

    .chat {
      flex: 2;
      @include tablet {
        display: none;
      }

      .chatInfo {
        height: 50px;
        background-color: $logo-color;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        color: $light-color;
        font-weight: bold;

        .userInfo {
          display: flex;
          align-items: center;
          gap: 5px;

          img {
            width: 30px;
            height: 30px;
            @include mobile {
              display: none;
            }
          }
        }
      }

      .chatIcons {
        display: flex;
        gap: 10px;

        img {
          height: 24px;
          cursor: pointer;
        }
      }

      .messages {
        background-color: $message-color;
        padding: 10px;
        height: calc(100% - 100px);
        overflow-y: auto;

        .message {
          display: flex;
          gap: 20px;
          margin-bottom: 20px;

          .message-info {
            display: flex;
            flex-direction: column;
            gap: 7px;

            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
            }

            span {
              opacity: 0.7;
              color: #222222;
              font-weight: 300;
            }
          }

          .message-content {
            max-width: 80%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            p {
              background-color: $form-background-color;
              color: #f3f3f3;
              opacity: 0.9;
              padding: 10px 20px;
              border-radius: 0px 10px 10px 10px;
              max-width: 250px;
              overflow-wrap: break-word;
              line-height: 20px;
            }
            img {
              width: 50%;
            }
          }

          &.owner {
            flex-direction: row-reverse;

            .message-content {
              align-items: flex-end;
              p {
                background-color: #242b2e;
                color: white;
                border-radius: 10px 0px 10px 10px;
              }
            }
          }
        }
      }

      .input {
        height: 50px;
        background-color: white;
        padding: 10px;
        @include flex-center();
        justify-content: space-between;

        input {
          border: none;
          width: 100%;
          padding: 5px;
          outline: none;
          color: #222222;
          font-size: 18px;

          &::placeholder {
            color: $light-color;
          }
        }
        .send {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            height: 24px;
            cursor: pointer;
          }

          button {
            border: none;
            padding: 10px 15px;
            color: white;
            background-color: $logo-color;
            cursor: pointer;
          }
        }
      }
    }
  }

  .mobile-responsive {
    @include tablet {
      .sidebar {
        display: none;
      }

      .chat {
        display: block;
      }
    }
  }
}

.landing {
  margin: 5px 50px;
}

@import "./style/header";
@import "./style/article";
@import "./style/responsive";
